<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"></head>

<body>

<div th:replace="common/header :: navbar"></div>

<div class="container mySpace">
    <form action="/users" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="name" placeholder="Search User"/>
            <input type="submit" value="Search" class="btn btn-primary"/>
        </div>

    </form>
    <div class="card">
        <div class="card card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Add</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user:${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td><a th:href="@{/addTask(email=${user.email})}" class="btn btn-dark">Add task</a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>